* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #000000, #181818, #292929, #3c3c3c, #4f4f4f);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 1.5rem;
    padding: 5rem 0;
    margin: 0 1rem;
    color: rgb(157, 173, 243);
}

h2 {
    font-style: normal;
    font-weight: lighter;
    font-size: 1rem;
}

a {
    font-size: 0.7rem;
    font-family: 'Courier New', Courier, monospace;
}

hr {
    border-top: 1px #bbbbbb34;
    width: 25%;
}

i {
    font-size: 1.5rem;
    color: rgb(157, 173, 243);
}

i:hover {
    opacity: 0.5;
}

.linksection > a {
    color: rgb(157, 173, 243);
}

.linksection > a:hover {
    opacity: 0.5;
}

/* CLASSES */

/* CONTAINERS AND SECTIONS */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.topsection {
    display: flex;
    flex-direction: row;
}

.container2 {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: 0.5rem;
}

.container3 {
    display: flex;
    text-align: center;
}

.container3 > div {
    margin: 1rem;
}

.linksection {
    display: flex;
    flex-direction: column;
}

/* TEXT */

.textbox {
    background-color: rgb(41, 41, 41);
    border-radius: 0.3rem;
    margin: 0;
    padding: 0.4rem;
    width: 25%;
    text-align: center;
}

/* IMAGES */

.avatarimgbackground {
    background-color: rgb(41, 41, 41);
    height: 10rem;
    width: 7rem;
    border-radius: 10rem;
}

.avatarimg {
    width: 7rem;
    height: 10rem;
    pointer-events: none;
}

.linksectionimages {
    width: 1rem;
    height: 1rem;
}

/* MOBILE */

@media only screen and (max-width: 600px) {
    .container2 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0.5rem;
    }

    .textbox {
        background-color: rgba(184, 184, 184, 0.192);
        border-radius: 0.3rem;
        margin: 0;
        padding: 0.4rem;
        width: 100%;
        text-align: center;
    }

    hr {
        border-top: 1px #bbbbbb34;
        width: 100%;
    }

    .container {
        margin: 1rem;
    }

    .avatarimg {
        width: 8rem;
        height: 8rem;
        margin: 1rem;
    }

    h1 {
        font-size: 1.3rem;
        margin: 0.1rem;
    }

    .linksection {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
